/* .App {
} */

.menu {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 32px;
}


/* Table Options Section */

.tableOptions {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0px 32px;
}

.selectDropdown {
    font-family: 'Inter', sans-serif;
    width: 214px;
    height: 32px;
    border-radius: 4px;
    margin-right: 16px;
    color: black;
    cursor: pointer;
}

.addPeople {
    width: 109px;
    height: 36px;
    color: #ffffff;
    background: #0052EA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 6px 16px;
    font-weight: 600;
    /* gap: 8px; */
    border-radius: 4px;
    outline: none;
    border: none;
    transition: all 200ms;
}

.addPeople:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.3);
    background: #075cfa;
    font-weight: bold;
}


/* Table Section */

.tableContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}