.App {
    overflow-x: hidden;
}

.menu {
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E0E0E0;
}

.separator {
    height: 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #E0E0E0;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0px;
    padding: 0;
    padding-left: 32px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    margin: 0;
    padding: 0;
    padding-left: 32px;
}

p {
    font-family: 'Inter', sans-serif;
}


/* Table Options Section */

.tableOptions {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0px 67px;
}

.selectDropdown {
    font-family: 'Inter', sans-serif;
    width: 214px;
    height: 32px;
    border-radius: 4px;
    margin-right: 16px;
    color: black;
    cursor: pointer;
}

.addPeople {
    width: 109px;
    height: 36px;
    color: #ffffff;
    background: #0052EA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 6px 16px;
    font-weight: 600;
    /* gap: 8px; */
    border-radius: 4px;
    outline: none;
    border: none;
    transition: all 200ms;
}

.addPeople:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.3);
    background: #075cfa;
    font-weight: bold;
}


/* Table Section */

.tableContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.buttonWrapper {
    display: flex;
}

.rowButton {
    cursor: pointer;
    margin-left: 10px;
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: none;
}

.buttonWrapper #edit {
    color: #0052EA;
}

.buttonWrapper #delete {
    color: #C62828;
    ;
}


/* AddPeople Modal Section */

.modalContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal {
    width: 830px;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 2px 10px 2px #0000000D;
    z-index: 10;
}

.topBar {
    display: flex;
    justify-content: space-between;
}

.closeBtn {
    cursor: pointer;
    margin: 15px 20px;
}


/* Modal Form Section */

.form {
    margin: 0px 20px;
    height: 100%;
}

.inputContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    overflow-y: scroll;
    height: 80%;
}

.inputContainer::-webkit-scrollbar {
    display: none;
}

.row {
    display: flex;
    flex-direction: column;
}

.formLabel {
    color: #0052EA;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 5px;
}

.form input,
select,
.form textarea {
    font-family: 'Inter', sans-serif;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.form textarea {
    resize: vertical;
}

.span {
    grid-column: 1 / span 2;
}


/* Button Container */

.btnContainer {
    padding: 10px;
    display: flex;
    justify-content: right;
}

.btnContainer button,
.btnContainer input {
    font-family: 'Inter', sans-serif;
    margin-left: 10px;
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btnContainer button {
    background: none;
    color: #0052EA;
}

.btnContainer input {
    color: white;
    background: #0052EA;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.btnContainer button:hover {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.5);
}

.btnContainer input:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}